@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    overflow-x: hidden;	
} 

.background {
    z-index: -1;
    position: fixed;
}

.background img {
    position: relative;
    background-position: center center;
}

.content {
    z-index: 1;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    
    font-family: 'Noto Sans TC', sans-serif;
}

.content>.title,
.content>.event {
    position: relative;
    height: 300px;
    width: 100%;
}

.content>.event {
    height: 300px;
}

.content>.title>.text {
    position: relative;
    height: 50px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 60%;
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Meiryo, "Microsoft JhengHei";
}
.content>.title>.text h1{
    font-size: 2em;
    font-weight: bolder;
}
.content>.title>.text h6 {
    font-size: 1em;
    font-weight: bolder;
}

.content>.event>.text {
    position: relative;
    width: 140px;
    left: 50%;
    margin-top: 80px;
    text-align: center;
    color: #fff;
    font-family: raleway, sans-serif, "Microsoft JhengHei";
}

.content>.event>.text h1 {
    font-size: 1.5em;
    font-weight: bolder;
}

.content>.event>.text h6 {
    font-size: 0.8em;
    font-weight: bolder;
}


.content .story{
    position: relative;
    padding: 10px 0px 10px;
    text-align: center;
    color: #33424E;
    background: #fff;
}
.content .story h1 {
    font-size: 2em;
    line-height: 2;
    font-weight: bold;
}
.content .story h3{
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
}
.content>.info {
    position: relative;
    padding: 10px 0px;
    left: 0;
    right: 0;
    height: auto;
    background: transparent url(../img/bg.jpg) repeat bottom center;
    background: #fff;
}

.content .info .sb-slider,
.content .info .wi-container,
.content .info .ri-grid {
    z-index: 1;
}

.content .info .shadow {
    position: relative;
	width: 300px;
	height: 168px;
    left: 50%;
    margin-left: -150px;
	margin-top: -120px;
	background: transparent url(../img/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
    z-index: 0;
}

.content .time {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 0px;
}

.content .clock {
    margin-top: 50px;
    position: absolute;
    width: 460px;
    margin-left: -230px;
    left: 50%;
    text-align: center;
}

.content .map {
    position: relative;
    left: 0;
    right: 0;
    height: auto;
    background-color: #fff;
    padding: 10px 0px 40px 0px;
    text-align: center;
}

.content .map .information {
    position: relative;
    width: auto;
    text-align: center;
    margin: 20px;
}

.content .map .information button.join {
    text-align: center;
    font-size: 1em;
    line-height: 1.2;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(230, 205, 191);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Meiryo, "Microsoft JhengHei";
    color: #431700;
    position: relative;
    bottom: 10px;
    font-weight: bold;
}