@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    overflow-x: hidden;	
} 

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    z-index: 1;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    font-family: 'Noto Sans TC', sans-serif;
}



.content>.title {
    position: relative;
    height: 90%;
    width: 100%;
}

.content>.title>.text {
    position: relative;
    height: 50px;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    top: 60%;
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Meiryo, "Microsoft JhengHei";
}
.content>.title>.text h1 {
    font-size: 6em;
}
.content>.title>.text h6 {
    font-size: 2em;
}

.content .story{
    position: relative;
    background-color: #fff;
    padding: 100px 0px 10px;
    text-align: center;
}
.content .story h1 {
    line-height: 2;
}
.content .story h3{
    line-height: 1;
}
.content>.info {
    position: relative;
    padding: 10px 0px;
    left: 0;
    right: 0;
    height: 100%;
    background: #fff;
}

.content .info .sb-slider,
.content .info .wi-container,
.content .info .ri-grid {
    z-index: 1;
}

.content .info .shadow {
    position: relative;
	width: 1200px;
	height: 168px;
    left: 50%;
    margin-left: -600px;
	margin-top: -110px;
	background: transparent url(../img/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
    z-index: 0;
}

.content .time {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 50px 0px;
}
.content .time h1,
.content .time h2{
    font-family: sans-serif;
}

.content .time h1 {
    font-size: 80px;
    margin: 0px 300px;
    border-bottom: #eee solid 2px; 
}

.content .time h2 {
    font-size: 60px;
}

.content .clock {
    margin-top: 50px;
    position: relative;
    width: 700px;
    margin-left: -300px;
    left: 50%;
    text-align: center;
}

.content .map {
    position: relative;
    left: 0;
    right: 0;
    height: 700px;
    background-color: #fff;
    padding: 50px 0px;
    text-align: center;
}

.content .map h1,
.content .map h2{
    font-family: sans-serif;
}

.content .map h1 {
    font-size: 80px;
    margin: 0px 300px;
    border-bottom: #eee solid 2px; 
}

.content .map h2 {
    font-size: 40px;
}

.content .map .information {
    position: relative;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}
.content .map .information div {
    position: relative;
    float: left;
    width: 600px;
}
.content .map iframe {
    position: relative;
    width: 600px;
    height: 403px; 
}